<table>
	<tr>
		<th>№</th>
		<%= '<% @columns.each_pair do |key, value| ' %><%='%'%><%='>'%>
			<th><%= '<%= value["label"]' %><%='%'%><%='>'%></th>
		<%= '<% end ' %><%= '%' %><%='>'%>
	</tr>
	
	<%= '<% @objects.each do |object|' %><%= '%' %><%= '>' %>
		<tr>
			<%= '<% @columns.keys.each do |attr|' %><%= '%' %><%= '>' %>
				<td><%= '<%= object[attr] '%><%= '%' %><%= '>' %></td>
			<%= '<%' + ' end ' %><%= '%' %><%= '>' %>
		</tr>
	<%= '<%' + ' end ' %><%= '%' %><%= '>' %>
</table>