<!-- TODO: Переделать на form_tag -->
<form action="/admin_area/<%=@model.name.pluralize.downcase%>/save" method="post">
  <input type="hidden"  name="<%=@model.name.downcase%>[id]" value="<%=@object.object.id %>" />
  <table>
    <%= @object.render %>
  </table>

  <% @actions.each do |a| %>
      <% if a.location == 1 %>
       <%= a.render_label(@object) %>
      <% end %>
  <% end %>

</form>

