<% if result.size > 0 %>
	<tr class="<%= (as_child == true) ? "relation_row_unit" : "item_row_unit" %>">
        <% result.each do |f| %>
            <td><%= f.html(:single) %></td>
        <% end %>
        <% @actions.each do |a| %>
          <!-- TODO: Убрать костыль-->
            <td><%= a.render(@object) %></td>
        <% end %>
    </tr>
	<% if ! include_relations and relations.size > 0 %>
        <tr class="relation_row_header">
			<% relations.each do |rel| %>
				<% if rel[1].size > 0 %>
                    <td></td>
					<td><%= rel[0] %></td>
					<% rel[1].each do |r| %>
						<td><%= r.render_in_list false, true %></td>
					<% end %>
				<% end %>
			<% end %>
        </tr>
    <% end %>
<% end %>

<%#= link_to 'Добавить', '#'%>
